In [27]:
library(tidyverse)
library(repr)
library(tidymodels)

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

In [28]:
heart_data <- read_delim("data/processed.cleveland.data", delim=",", col_names = FALSE)

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [29]:
heart_data <- rename(heart_data,
                    age = X1,
                    sex = X2,
                    cp = X3,
                    trestbps = X4,
                    chol = X5,
                    fbs = X6,
                    restecg = X7,
                    thalach = X8,
                    exang = X9,
                    oldpeak = X10,
                    slope = X11,
                    ca = X12,
                    thal = X13,
                    num = X14)

In [30]:
heart_data <- select(heart_data, age, sex, chol, num)
heart_data

    age sex chol num
1   63  1   233  0
2   67  1   286  2
3   67  1   229  1
4   37  1   250  0
5   41  0   204  0
6   56  1   236  0
7   62  0   268  3
8   57  0   354  0
9   63  1   254  2
10  53  1   203  1
11  57  1   192  0
12  56  0   294  0
13  56  1   256  2
14  44  1   263  0
15  52  1   199  0
16  57  1   168  0
17  48  1   229  1
18  54  1   239  0
19  48  0   275  0
20  49  1   266  0
21  64  1   211  0
22  58  0   283  0
23  58  1   284  1
24  58  1   224  3
25  60  1   206  4
26  50  0   219  0
27  58  0   340  0
28  66  0   226  0
29  43  1   247  0
30  40  1   167  3
⋮   ⋮   ⋮   ⋮    ⋮
274 71  0   149  0
275 59  1   204  1
276 64  1   227  0
277 66  0   278  0
278 39  0   220  0
279 57  1   232  1
280 58  0   197  0
281 57  1   335  2
282 47  1   253  0
283 55  0   205  3
284 35  1   192  0
285 61  1   203  2
286 58  1   318  4
287 58  0   225  2
288 58  1   220  0
289 56  1   221  0
290 56  1   240  0
291 67  1   212  1
292 55  0   342  0
293 44  1   169  2
294 63  1   187  2
295 63  0   197  1
296 41  1   157  0
297 59  1   176  3
298 57  0   241  1
299 45  1   264  1
300 68  1   193  2
301 57  1   131  3
302 57  0   236  1
303 38  1   175  0

In [33]:
class(heart_data)

[1] "tbl_df"     "tbl"        "data.frame"