In [79]:
library(tidyverse)
library(repr)
library(tidymodels)

In [80]:
heart_data <- read_delim("data/processed.cleveland.data", delim=",", col_names = FALSE)

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): X12, X13
dbl (12): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [81]:
heart_data <- rename(heart_data,
                    age = X1,
                    sex = X2,
                    cp = X3,
                    trestbps = X4,
                    chol = X5,
                    fbs = X6,
                    restecg = X7,
                    thalach = X8,
                    exang = X9,
                    oldpeak = X10,
                    slope = X11,
                    ca = X12,
                    thal = X13,
                    num = X14)

In [82]:
heart_data <- select(heart_data, age, sex, chol, num)

In [83]:
heart_male <- filter(heart_data, sex == 1)
heart_female <- filter(heart_data, sex == 0)
heart_diseased <- filter(heart_data, num > 0)
heart_no_disease <- filter(heart_data, num > 0)

In [90]:
heart_data_clean <- heart_data |>
    mutate(age = as_factor(age)) |>
    mutate(sex = as_factor(sex)) |>
    mutate(sex = fct_recode(sex, "M" = "1", "F" = "0")) |>
    mutate(chol = as_factor(chol)) |>
    mutate(num = as_factor(num)) |>
    mutate(num = fct_recode(num, "H" = "0", "D" = "1", "D" = "2", "D" = "3", "D" = "4"))
heart_data_clean

Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `sex = fct_recode(sex, M = "1", F = "0")`.
Caused by warning:
! Unknown levels in `f`: 1, 0”

    age sex chol num
1   63  M   233  H
2   67  M   286  D
3   67  M   229  D
4   37  M   250  H
5   41  F   204  H
6   56  M   236  H
7   62  F   268  D
8   57  F   354  H
9   63  M   254  D
10  53  M   203  D
11  57  M   192  H
12  56  F   294  H
13  56  M   256  D
14  44  M   263  H
15  52  M   199  H
16  57  M   168  H
17  48  M   229  D
18  54  M   239  H
19  48  F   275  H
20  49  M   266  H
21  64  M   211  H
22  58  F   283  H
23  58  M   284  D
24  58  M   224  D
25  60  M   206  D
26  50  F   219  H
27  58  F   340  H
28  66  F   226  H
29  43  M   247  H
30  40  M   167  D
⋮   ⋮   ⋮   ⋮    ⋮
274 71  F   149  H
275 59  M   204  D
276 64  M   227  H
277 66  F   278  H
278 39  F   220  H
279 57  M   232  D
280 58  F   197  H
281 57  M   335  D
282 47  M   253  H
283 55  F   205  D
284 35  M   192  H
285 61  M   203  D
286 58  M   318  D
287 58  F   225  D
288 58  M   220  H
289 56  M   221  H
290 56  M   240  H
291 67  M   212  D
292 55  F   342  H
293 44  M   169  D
294 63  M   187  D
295 63  F   197  D
296 41  M   157  H
297 59  M   176  D
298 57  F   241  D
299 45  M   264  D
300 68  M   193  D
301 57  M   131  D
302 57  F   236  D
303 38  M   175  H